<div class="header">
  <h1>Πελάτης</h1>
</div>
<div class="center">
  <mat-card style="width: 90%;">
    <mat-card-header>
      <mat-card-title>{{ client.name }}</mat-card-title>
      <mat-card-subtitle>Πελάτης</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Accounts Payable Email</h3>
        <mat-list-item>
          <h4 mat-line>{{ client.accEmail }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Invoice Data</h3>
        <mat-list-item>
          <h4 mat-line>{{ client.invoiceData }}</h4>
        </mat-list-item>
        <div *ngIf="client.contacts">
          <mat-divider></mat-divider>
          <h3 mat-subheader>Contacts</h3>
          <mat-list-item>
            <h4 mat-line>{{ client.contacts }}</h4>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/clients', client.id, 'edit']"
      >
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
