<div class="header">
  <h1>Έκτακτο Έσοδο</h1>
</div>
<div class="center">
  <mat-card style="width: 90%;">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Όνομα</h4>
      <mat-form-field color="primary">
        <input matInput placeholder="Όνομα*" formControlName="name" />
      </mat-form-field>
      <h4>Πελάτης</h4>
      <mat-form-field>
        <mat-label>ΙD Πελάτη</mat-label>
        <mat-select formControlName="clientId">
          <mat-option *ngFor="let clientId of clientIdList" [value]="clientId">
            {{ clientId }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <h4>Ταμείο</h4>
      <mat-form-field>
        <mat-label>ID Ταμείου</mat-label>
        <mat-select formControlName="fundId">
          <mat-option *ngFor="let fundId of fundIdList" [value]="fundId">
            {{ fundId }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Ποσό</h4>
      <mat-form-field color="primary">
        <input
          matInput
          type="number"
          placeholder="Ποσό*"
          formControlName="amount"
        />
      </mat-form-field> -->
      <h4>Διάστημα Πληρωμής</h4>
      <mat-form-field color="primary">
        <input
          matInput
          type="number"
          placeholder="Ημέρες*"
          formControlName="payoutPeriod"
        />
      </mat-form-field>
      <h4>Κατανομή Ποσού</h4>
      <div formArrayName="moneySplit">
        <div
          *ngFor="let tameioControl of controls; let i = index"
          [formGroupName]="i"
        >
          <div class="fund-input">
            <div class="fields">
              <mat-form-field
                color="primary"
                style="width: 80%;margin-right: 2em;"
              >
                <mat-select formControlName="tameioId" placeholder="ID Ταμείου">
                  <mat-option
                    *ngFor="let fundId of fundIdList"
                    [value]="fundId"
                  >
                    {{ fundId }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                style="width: 80%; margin-right: 2em;"
                color="primary"
              >
                <input
                  matInput
                  formControlName="tameioAmount"
                  type="number"
                  placeholder="Ποσό"
                />
              </mat-form-field>
            </div>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="onDelFund(i)"
              [disabled]="i < 1"
              style="height: 20%;"
            >
              Χ
            </button>
          </div>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onAddFund()"
          style="margin-top: 1em;"
        >
          Add Fund
        </button>
      </div>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          type="submit"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
