<div class="header">
  <h1>Ταμείο</h1>
</div>
<div class="center">
  <mat-card style="width: 90%;">
    <mat-card-header>
      <mat-card-title>{{ fund.name }}</mat-card-title>
      <mat-card-subtitle>Ταμείο</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Bank</h3>
        <mat-list-item>
          <h4 mat-line>{{ fund.bank }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>IBAN</h3>
        <mat-list-item>
          <h4 mat-line>{{ fund.iban }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Account Number</h3>
        <mat-list-item>
          <h4 mat-line>{{ fund.accNumber }}</h4>
        </mat-list-item>
        <div *ngIf="fund.accData">
          <mat-divider></mat-divider>
          <h3 mat-subheader>Account Data</h3>
          <mat-list-item>
            <h4 mat-line>{{ fund.accData }}</h4>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/funds', fund.id, 'edit']"
      >
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
