.form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.center {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: large;
  display: flex;
  justify-content: center;
}

.fund-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fields {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
