<div class="header">
  <h1>Προμηθευτές</h1>
</div>

<div class="btn">
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/suppliers', 'new']"
  >
    Add Supplier
  </button>
</div>

<div class="center">
  <mat-table
    [dataSource]="dataset"
    class="mat-elevation-z8"
    style="width: 90%;"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Όνομα</mat-header-cell>
      <mat-cell *matCellDef="let element"
        ><a [routerLink]="['/suppliers', element.id]">{{
          element.name
        }}</a></mat-cell
      >
    </ng-container>

    <!-- Account Email Column -->
    <ng-container matColumnDef="contactEmail">
      <mat-header-cell *matHeaderCellDef>Contact Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.contactEmail }}</mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let element"
        ><button
          mat-button
          color="primary"
          [routerLink]="['/suppliers', element.id, 'edit']"
        >
          Edit
        </button></mat-cell
      >
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef
        ><button mat-button color="warn">Delete</button></mat-cell
      >
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<div class="btn">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
