table {
	width: 100%;
}

span {
	padding-right: 1rem;
}

a {
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

.center {
	display: flex;
	justify-content: center;
	width: auto;
}
