<mat-toolbar style="justify-content: space-between;" color="primary">
  <div>
    <span><a href="#">Home</a></span>
  </div>
  <div>
    <span><a href="#">Clients</a></span>
    <span>|</span>
    <span><a href="#">Suppliers</a></span>
  </div>
</mat-toolbar>
<div class="center">
  <mat-table [dataSource]="dataset" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
