.center {
  width: 40%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.header {
  padding-top: 4em;
  font-family: "Roboto", sans-serif;
  font-size: large;
  display: flex;
  justify-content: center;
}
