<div class="header">
  <h1>Πάγιο Έξοδο</h1>
</div>
<div class="center">
  <mat-card style="width: 90%;">
    <mat-card-header>
      <mat-card-title>{{ fixedExpense.name }}</mat-card-title>
      <mat-card-subtitle>Έξοδο</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <div *ngIf="fixedExpense.supplierId">
          <h3 mat-subheader>Προμηθευτής (ID)</h3>
          <mat-list-item>
            <h4 mat-line>{{ fixedExpense.supplierId }}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
        <h3 mat-subheader>Ταμείο (ID)</h3>
        <mat-list-item>
          <h4 mat-line>{{ fixedExpense.fundId }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Amount</h3>
        <mat-list-item>
          <h4 mat-line>{{ fixedExpense.amount }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Διάστημα Πληρωμής</h3>
        <mat-list-item>
          <h4 mat-line>{{ fixedExpense.payoutPeriod }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Ημέρα</h3>
        <mat-list-item>
          <h4 mat-line>{{ fixedExpense.day }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Συχνότητα</h3>
        <mat-list-item>
          <h4 mat-line>{{ fixedExpense.frequency }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Έναρξη</h3>
        <mat-list-item>
          <h4 mat-line>{{ fixedExpense.startDate | date }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Λήξη</h3>
        <mat-list-item>
          <h4 mat-line>{{ fixedExpense.endDate | date }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div *ngIf="fixedExpense.poNumber">
          <mat-divider></mat-divider>
          <h3 mat-subheader>PO Number</h3>
          <mat-list-item>
            <h4 mat-line>{{ fixedExpense.poNumber }}</h4>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/fixed-expenses', fixedExpense.id, 'edit']"
      >
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
