<div class="header">
  <h1>Πελάτης</h1>
</div>
<div class="center">
  <mat-card style="width: 90%;">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Όνομα</h4>
      <mat-form-field color="primary">
        <input matInput placeholder="Όνομα*" formControlName="name" />
      </mat-form-field>
      <h4>Account's Payable Email</h4>
      <mat-form-field color="primary">
        <input matInput placeholder="Email*" formControlName="accEmail" />
      </mat-form-field>
      <h4>Invoice Data</h4>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Invoice Data*"
          formControlName="invoiceData"
        ></textarea>
      </mat-form-field>
      <h4>Contacts</h4>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Contacts"
          formControlName="contacts"
        ></textarea>
      </mat-form-field>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          type="submit"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
