<div class="sticky">
  <plotly-plot
    [data]="overviewData"
    [layout]="overviewLayout"
    [useResizeHandler]="true"
    (plotly_click)="onClick($event)"
    [config]="{ displayModeBar: false }"
  ></plotly-plot>
</div>
<div style="padding-top: 10em; width: 100%;">
  <plotly-plot
    *ngFor="let fund of funds; let i = index"
    [hidden]="fundData[i][0].x.length === 0"
    [data]="fundData[i]"
    [layout]="fundLayout"
    [useResizeHandler]="true"
    [config]="{ displayModeBar: false }"
  ></plotly-plot>
</div>
<div style="display: flex; justify-content: center;">
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="updateGraph('prev')">
      <
    </button>
    <button mat-raised-button color="primary" (click)="updateGraph('next')">
      >
    </button>
  </div>
</div>
