<div style="display: flex; justify-content: center;">
  <h2>Συναλλαγές στις {{ data.date }}</h2>
</div>
<mat-dialog-content style="height: 110%;">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="incomes">
      <h3>Έσοδα</h3>
      <div formArrayName="incomes">
        <div
          class="invoices"
          *ngFor="let incomeControl of incomeControls; let i = index"
          [formGroupName]="i"
        >
          <div>
            <h5>Έσοδο {{ i }}</h5>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="incPicker"
                placeholder="Ημερομηνία"
                formControlName="incomeTransDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="incPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #incPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Ποσό"
                formControlName="incTotal"
              />
            </mat-form-field>
          </div>
          <div formArrayName="incomeSplit">
            <div
              *ngFor="
                let incomeControl of getIncomeSplitControls(i);
                let ii = index
              "
              [formGroupName]="ii"
            >
              <mat-form-field>
                <mat-select formControlName="tameioId" placeholder="ID Ταμείου">
                  <mat-option
                    *ngFor="let fundId of fundIdList"
                    [value]="fundId"
                  >
                    {{ fundId }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="tameioAmount"
                  type="number"
                  placeholder="Ποσό"
                />
              </mat-form-field>
              <button
                mat-raised-button
                color="warn"
                type="button"
                (click)="onDelFund('incomeSplit', i, ii)"
                [disabled]="ii < 1"
                style="height: 20%;"
              >
                Χ
              </button>
            </div>
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="onAddFund('incomeSplit', i)"
              style="margin-top: 1em;"
            >
              Add Fund
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="expenses">
      <h3>Έξοδα</h3>
      <div formArrayName="expenses">
        <div
          class="invoices"
          *ngFor="let expenseControl of expenseControls; let e = index"
          [formGroupName]="e"
        >
          <div>
            <h5>Έξοδο {{ e }}</h5>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="expPicker"
                placeholder="Ημερομηνία"
                formControlName="expenseTransDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="expPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #expPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Ποσό"
                formControlName="expTotal"
              />
            </mat-form-field>
          </div>
          <div formArrayName="expenseSplit">
            <div
              *ngFor="
                let incomeControl of getExpenseSplitControls(e);
                let ee = index
              "
              [formGroupName]="ee"
            >
              <mat-form-field>
                <mat-select formControlName="tameioId" placeholder="ID Ταμείου">
                  <mat-option
                    *ngFor="let fundId of fundIdList"
                    [value]="fundId"
                  >
                    {{ fundId }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="tameioAmount"
                  type="number"
                  placeholder="Ποσό"
                />
              </mat-form-field>
              <button
                mat-raised-button
                color="warn"
                type="button"
                (click)="onDelFund('expenseSplit', e, ee)"
                [disabled]="ee < 1"
                style="height: 20%;"
              >
                Χ
              </button>
            </div>
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="onAddFund('expenseSplit', e)"
              style="margin-top: 1em;"
            >
              Add Fund
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    mat-mat-dialog-close="yes"
    color="primary"
    [disabled]="!form.valid"
    type="submit"
    (click)="onSubmit()"
  >
    Submit
  </button>
</div>
